<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eft_flash_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{256,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,90}}</string>
                <key>sourceSize</key>
                <string>{256,90}</string>
            </dict>
            <key>eft_flash_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>eft_flash_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,94},{256,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,90}}</string>
                <key>sourceSize</key>
                <string>{256,90}</string>
            </dict>
            <key>eft_flash_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>eft_flash_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,186},{256,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,76}}</string>
                <key>sourceSize</key>
                <string>{256,76}</string>
            </dict>
            <key>eft_flash_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,184},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>eft_flash_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,96},{256,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,86}</string>
            </dict>
            <key>eft_flash_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>eft_flash_a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,90}}</string>
                <key>sourceSize</key>
                <string>{256,90}</string>
            </dict>
            <key>eft_light_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,398},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,396},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,332},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,330},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,266},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,264},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>eft_light_b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,672},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,670},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,624},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,622},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,576},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,574},{256,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,46}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>eft_light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{32,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,62}</string>
            </dict>
            <key>eft_light_c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,520},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,518},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,464},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,462},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
            <key>eft_light_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{256,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{256,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eft_flashAndLight.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1932c841cf3498b2266a2f534dcacc22:1/1$</string>
            <key>textureFileName</key>
            <string>eft_flashAndLight.png</string>
        </dict>
    </dict>
</plist>
